<!-- HEAD -->
<%- include('../../partials/head/head.ejs') %> 
<!-- NAVBAR -->
<%- include('../../partials/navbar/navbar.ejs') %> 

<h1><%= title %></h1>

<!-- PRODUCTS-INDEX -->
<%- include('../../partials/productsIndex/productsIndex.ejs') %> 

<!-- FOOTER -->
<%- include('../../partials/footer/footer.ejs') %> 