<!-- HEAD -->
<%- include('../../partials/head/head.ejs') %> 
<!-- NAVBAR -->
<%- include('../../partials/navbar/navbar.ejs') %> 

<h1><%= title %></h1>

<h2>Welcome to GUACAMOLE :3</h2>

<!-- PRODUCTS-INDEX -->
 <%- include('../../partials/productsIndex/productsIndex.ejs') %>  

<h4>Aqui va alguna beinvenida y logo de la marca</h4>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nulla voluptates officia tenetur temporibus dolor earum, asperiores voluptatem fugiat atque ab, cumque officiis quidem. Ipsam distinctio eum beatae quibusdam dolorum!</p>

<!-- FOOTER -->
<%- include('../../partials/footer/footer.ejs') %> 