<!-- HEAD -->
<%- include('../../partials/head/head.ejs') %> 
<!-- NAVBAR -->
<%- include('../../partials/navbar/navbar.ejs') %> 


<main class="container">
    <h1><small><%= docTitle %> :</small></h1>
    <ul class='list-group '></ul>
        <% users.forEach((user)=> {  %>
            <% Object.entries(user).forEach(([key, value])=> {%>
                <li class="list-group-item-warning mx-3">
                    <%= key %> : <%= value %>
                </li>
            <% }); %> 
            <hr>
        <% }); %> 
    </ul>
</main>
<%- include('../../partials/footer/footer.ejs') %> 
        